html, body, p {
    --thumb-width: 0.7rem;
}

main {
    height: 100vh;
    background-color: lemonchiffon;
}


.range-editor, .range-editor-preset {
    padding: 0.5rem 0;
    margin: auto;    
    width: 150px;
    overflow-x: hidden;
    height: auto;
 }

.range-editor {
    background-color: rgb(101, 116, 160);
}

.play-btn, .pause-btn, .stop-btn {
    display: inline-block;
    min-height: 1rem;
    min-width: 1rem;
    margin: 0;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;    
    background-color: chocolate;
    background-size: contain;
}

.play-btn {
    background-image:  url(./assets/icons8-play-96.png);
}

.pause-btn {
    background-image:  url(./assets/icons8-pause-96.png);
    background-size: 90%;
    background-position: center;
}

.stop-btn {
    background-image:  url(./assets/icons8-stop-96.png);
}

#played-title-wrapper {
    /* height: 1rem; */
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: rgb(164, 169, 218);
}

#player-btn {
    display: none;
}

#progress-bar-ruler {
    display: flex;
    align-items: flex-end;
    width: auto;
    height: 2rem;
    padding: 2px 0.5rem;
    margin-top: 10px;
    margin-bottom: 0;
    /* background-color: LightBlue; */
}

#progress-bar-ruler:first-child {
    padding: 0;
    /* background-color: LightBlue; */
}

#player-progress-bar-wrapper {
    position: relative;
    padding: 0.5rem;
    padding-bottom: 1rem;
    width: auto;
}

#player-progress-bar-track {
    /* box-sizing: border-box; */
    display: flex;
    /* justify-content: space-between; */
    align-items: start;
    position: relative;
    height: 0.4rem;
    width: 100%;
    margin: 0 auto;
    border-radius: 0;
    background-color: rgb(135, 168, 229);
}

#player-progress-bar-track > div {
    margin-top: -0.8rem;
}

[id^="range-border-wrapper-"] {
    display: flex;
    width:fit-content;
    position: absolute;
    top: 0.1rem;
    flex-direction: column;
}

#range-border-wrapper-right {
    right: 0;
    align-items: flex-end;
    z-index: 1;
}

#range-border-wrapper-left {
    align-items: flex-start;
    /* Compensate thumbOffset in sliderMoveHandler function */
    /* transform: translate(50%); */
    z-index: 1;
}

[id^="range-border-pointer-"] {
    width: 0;
    height: 0;
    left: 0;
    margin-bottom: 0.05rem;
    border-top: 0.2rem solid transparent;
    border-bottom: 0.2rem solid transparent;
}

#range-border-pointer-left {
    border-left: 0.6rem solid red;
}

#range-border-pointer-right {
    border-right: 0.6rem solid red;
}

[id*="-lock-"] {
    fill: white;
}

[id$="-lock-closed"] {    
    display: none;
}

#range-border-right-lock-open {    
    transform: translateX(65%);
}

#range-border-right-lock-closed {    
    transform: translateX(45%);
}

#range-border-left-lock-open {    
    transform: translateX(-25%);
}

#range-border-left-lock-closed {    
    transform: translateX(-45%);
}

.border-time {    
    min-width: fit-content;    
    position: relative;
    width: fit-content;
    height: 0.45rem;
    font-size: 0.4rem;
    text-align: center;
    color: white;
    user-select: none;

}

#right-border-time {
    transform: translateX(50%);
}

#left-border-time {
    transform: translateX(-50%);
}

.range-border-line {
    width: 0;
    height: 0.8rem;
    border: 0.5px dashed black;
    /* background-color: black; */
}

#range-box {
    position: absolute;
    background-color: rgba(135, 168, 229, 0.5);
}

#bottom-menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    column-gap: 1rem;
}

#player-bottom-menu-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

#stop-svg-btn {
    display: none;
}

[id*="volume-svg-btn"] {
    height: 0.9rem;
    width: 0.9rem;
    margin-right: 0.15rem;
    flex-shrink: 0;
}


#bottom-menu-player-btn {
    margin-right: 0.2rem;
}


/* Volume Control section */
#volume-svg-btn-off {
    display: none;
}

#volume-svg {
    stroke: black;
}

[id$="-svg-btn"]:hover {
    transform: scale(0.9);
    transition-duration: 100ms;
}

#volume-slider-track {
    position: relative;
    height: 0.2rem;
    max-width: 4rem;
    width: 100%;
    margin: auto 0;
    border-radius: 0.1rem;
    background-color: rgb(101, 130, 219);
}

#volume-slider-thumb {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    left: calc((var(--thumb-width)*-1/8) + 0.1rem);
    height: calc(var(--thumb-width)/2);
    width: calc(var(--thumb-width)/2);
    border-radius: 50%;
    background-color: rgb(65, 105, 225);
    transition-duration: 10ms;
    /* Отмена встроенной функции drag'n'drop для мобильных устройств */
    touch-action: none;
}
/* End of Volume Control section */


/* Zoom Menu section */
#zoom-menu {
    display: flex;
    position: relative;
    flex-grow: 2;    
    justify-content: space-between;
    align-items: center;
    width: 5rem;
    max-width: 50%;
}

#zoom-minus-svg-btn, #zoom-plus-svg-btn {
    height: 0.6rem;
    width: 0.6rem;
    user-select:none;
}

#zoom-minus-svg-btn {
    margin-right: 0.2rem;
}

#zoom-plus-svg-btn {
    margin-left: 0.3rem;
}

#zoom-track {
    position: relative;
    height: 1px;
    width: 100%;
    background-color: black;
}

#zoom-thumb-svg-btn {
    position: relative;
    height: calc(var(--thumb-width)/2.5);
    width: calc(var(--thumb-width)/2.5);
    top: 50%;
    transform: translate(0, -50%);
    left: 1rem;
    background-color: rgb(101, 116, 160);
    border: 1.5px solid black;
    border-radius: 50%;
}
/* End of Zoom Menu section */


/* Ruler section */
.templ-wrapper {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    padding: 2px 0;
    height: auto;
  }

[id$="-bar"] {
    width: 0.5px;
    margin: auto;
    border-radius: 1px;
    background-color: white;
}

#long-bar {
    height: 1rem;
}

#long-number {
    position: absolute;
    top: -25%;
    left: 50%;
    font-family: sans-serif;
    font-size: 0.4rem;
    width: fit-content;
    transform: translateX(-50%);
    color: white;
}

#middle-bar {
    height: 0.7rem;
}

#short-bar {
    height: 0.3rem;
}

#long-bar-wrapper {
    display: flex;
    flex-direction: column;
}

/* End of Ruler section */

@media (max-width: 600px) {    
.range-editor, header {
    width: 100%;
 }
}
