html, body, p {
    all: unset;
    box-sizing: border-box;
}

header, section {
    width: 150px;
    margin: auto;
    font-size: 0.5rem;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1rem;
    background-color: lightgrey
}

section {
    height: 100vh;
    background-color: lemonchiffon;
}

#file-list-wrapper {
    text-align: center;
    padding: 0.1rem 0.2rem;

}

#add-file-dialogue {
    display: none;
}

#add-file-dialogue-label {
    display: flex;
    width: auto;
    margin: auto;
    justify-content: center;
    gap: 1%;
    align-items: center;
    padding: 0.1rem 0.2rem;
    border: 0.5px black dashed;
    border-radius: 2px;
}

#download-icon {
    width: 0.5rem;
    height: 0.5rem;
    background-size: cover;
}

#download-svg {
    stroke: black;
}



@media (max-width: 600px) {

    header, section {
        width: 100%;
     }

     #file-list {
        width: 100%;
    }
}
