html, body, p {
    all: unset;
    box-sizing: border-box;
}

header, main {
    width: 150px;
    margin: auto;
    font-size: 0.5rem;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1rem;
    background-color: lightgrey;
}

main {
    height: 100vh;
    background-color: lemonchiffon;
}

#file-exist-pop-up {
    background-color: white;
    border-radius: 5px;
    border-color: transparent;
}

#file-exist-pop-up::backdrop {
    background-color:rgba(85, 107, 47, .5);

}

@media (max-width: 600px) {

    header, main {
        width: 100%;
     }


}
