html, body, p {
    all: unset;
    box-sizing: border-box;
}

header, main {
    width: 150px;
    margin: auto;
    font-size: 0.5rem;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1rem;
    background-color: lightgrey;
}

main {
    height: 100vh;
    background-color: lemonchiffon;
}

#pop-up-wrapper{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 150px;
    height: 100vh;
    margin: 0 auto;
}

#such-file-exists-in-DB {
    display: none;
    height: fit-content;
    width: 80%;
    padding: 10px;
    text-align: center;
    background-color: lightgrey;
}


@media (max-width: 600px) {

    header, main {
        width: 100%;
     }

    #pop-up-wrapper{
        width: 80%;
    }
}
